audacity
Code
Code - OSS
dconf
discord
EOS-greeter.conf
eos-update-notifier.first_init
galculator
gh
GIMP
github-copilot
google-chrome
gtk-2.0
gtk-3.0
gtk-4.0
helm
htop
Logseq
menus
mimeapps.list
nano
neofetch
nitrogen
obs-studio
opera
pavucontrol.ini
pineflash
pulse
reflector-simple-free-params.txt
Slack
spotify
strawberry
systemd
Thunar
unity3d/
user-dirs.dirs
user-dirs.locale
/variety/*
!/variety/scripts/
vlc
volumeicon
weechat
xed
xfce4
yarn
yay
qtile/config.toml
qtile/__pycache__
qtile/modules/__pycache__
.avalonia-build-tasks/
.gsd-keyboard.settings-ported
GNOME-xdg-terminals.list
Mesen2/
Vencord/
autostart/bell off.desktop
dleyna-renderer-service.conf
evolution/
monitors.xml
monitors.xml~
pop-shell/
welcome.conf
xdg-terminals.list
zsh/init.zsh.zwc
nvtop/

# kde stuff
baloofileinformationrc
cef_user_data/
deluge/
filetypesrc
haruna/
harunarc
heroic/
katemetainfos
katerc
katevirc
kfontinstuirc
kiorc
knfsshare
ktorrent_infowidgetrc
ktorrentrc
lutris/
plasmanotifyrc
plasmawindowed-appletsrc
plasmawindowedrc
trashrc
Trolltech.conf
akregatorrc
arkrc
baloofilerc
bluedevilglobalrc
dolphinrc
gtkrc
gtkrc-2.0
gwenviewrc
kactivitymanagerd-statsrc
kactivitymanagerdrc
kateschemarc
kcmfonts
kcminputrc
kconf_updaterc
KDE/
kde.org/
kdeconnect/
kded5rc
kdedefaults/
kdeglobals
kgammarc
kglobalshortcutsrc
khotkeysrc
kmixrc
konsolerc
konsolesshconfig
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib/
okularpartrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmashellrc
powermanagementprofilesrc
QtProject.conf
session/
spectaclerc
systemsettingsrc
Proton/
autostart/urserver.desktop
gthumb/
hakuneko-desktop/
jellyfin/
kfontviewrc
kinfocenterrc
kwriterc
mangal/
okularrc
plasmaparc
systemmonitorrc
yuzu/
yuzurc
libreoffice/
transmission/
