[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Qtile
Comment=Tiling wm
Exec=qtile start
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

