configuration {
	modi: "drun,run,window,combi";
    combi-modi: "window,drun";
    show-icons:                 true;
	drun-display-format:        "{name}";
	window-format:              "{c} - {t:10} | {w}";
}@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
