@theme "/home/ayoub/.local/share/rofi/themes/squared-everforest.rasi"

configuration {
	modi: "drun,run,window,vscode-recent";
    show-icons:                 true;
	drun-display-format:        "{name}";
	window-format:              "{w} | {c} | {t}";
}